p.MuiTypography-root {
  font-family: 'Pixel', 'Arial', sans-serif;
}

body {
  background: black !important;
  height: 100vh;
  width: 100vw;
}

.main-container {
  margin: auto;
  color: white;
}

.azure-board {
  border: 2px solid #b3e6df;
}

.tetro-cell-wrap {
  padding: 2px;
}

.tetro-cell {
  padding: 10%;
  background: currentColor;
}

.tetro-cell .tetro-glare {
  background: white;
}

.tetro-cell .tetro-glare .dot {
  background: currentColor;
}
