p.MuiTypography-root {
  font-family: 'Pixel', 'Arial', sans-serif;
}

html,
body,
#root {
  background: black !important;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.main-container {
  margin: auto;
  color: white;
}

.azure-board {
  border: 2px solid #b3e6df;
}

.tetro-cell-wrap {
  padding: 2px;
}

.tetro-cell {
  padding: 10%;
  background: currentColor;
  border-radius: 2px;
  height: 100%;
  width: 100%;
}

.tetro-cell .tetro-glare {
  background: white;
}

.tetro-cell .tetro-glare .dot {
  background: currentColor;
}

.menu-btn {
  cursor: pointer;
  user-select: none;
  border: none;
  color: black;
  padding: 5px;
}

.control-btn {
  cursor: pointer;
  user-select: none;
  height: 100%;
  width: 100%;
  border: none;
  color: black;
}
